.animated {
    transition: all 600ms ease;
    transition-delay: 0ms;
    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-top: 100%;
        height: 0%;
    }

    to {
        margin-top: 0%;
        height: 100%;
    }
}


*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

::-moz-selection {
    background: #fc6
}

::selection {
    background: #fc6
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #444452;
    font-family: Raleway, "Source Sans Pro", Helvetica, Arial, sans-serif;
    line-height: 1.5
}

    body a,
    html a {
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        text-decoration: none;
        font-weight: 700;
        color: #36363c
    }

    body ul,
    html ul {
        list-style: none;
        padding: 0
    }

    body strong,
    html strong {
        font-weight: 700;
        color: #36363c
    }

    body.night,
    html.night {
        background-color: #191e27;
        color: #afafbf;
        font-family: BitPotion, "Source Sans Pro", Helvetica, Arial, sans-serif;
    }

        body.night ::-moz-selection,
        html.night ::-moz-selection {
            color: #36363c;
            background: #fc6
        }

        body.night ::selection,
        html.night ::selection {
            color: #36363c;
            background: #fc6
        }

        body.night .pixel-switch-wrapper .sun,
        html.night .pixel-switch-wrapper .sun {
            background: url(../img/switch/sun-white.svg) no-repeat center;
            background-size: 100%
        }

        body.night .pixel-switch-wrapper .moon,
        html.night .pixel-switch-wrapper .moon {
            background: url(../img/switch/moon-white.svg) no-repeat center;
            background-size: 100%
        }

        body.night .experience .job__time,
        body.night .footer__copyright,
        body.night .intro,
        body.night .skills .skillz__category__label,
        body.night .status,
        body.night a,
        body.night strong,
        html.night .experience .job__time,
        html.night .footer__copyright,
        html.night .intro,
        html.night .skills .skillz__category__label,
        html.night .status,
        html.night a,
        html.night strong {
            color: #e7e7e7
        }

        body.night .section__content .underline-link:after,
        html.night .section__content .underline-link:after {
            background: #e7e7e7
        }

    body .emoji,
    html .emoji {
        display: inline-block;
        vertical-align: text-top;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center
    }

    body .section,
    html .section {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 100px 170px
    }

@media screen and (max-width:1280px) {
    body .section,
    html .section {
        padding: 100px
    }
}

@media screen and (max-width:1024px) {
    body .section,
    html .section {
        padding: 50px
    }
}

@media screen and (max-width:768px) {
    body .section,
    html .section {
        display: block
    }
}

@media screen and (max-width:480px) {
    body .section,
    html .section {
        padding: 50px 35px
    }
}

.section__background__portrait {
    width: 65px;
    height: 100px;
    margin-top: 20px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

@media screen and (max-width:768px) {
    .section__background__portrait {
        display: none;
    }
}

body .section__title,
html .section__title {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 200px;
    margin-right: 70px;
    color: #ac3232;
    text-transform: uppercase;
    text-align: right;
    font-weight: 700;
    letter-spacing: 2px
}

@media screen and (max-width:1024px) {
    body .section__title,
    html .section__title {
        margin-right: 50px
    }
}

@media screen and (max-width:850px) {
    body .section__title,
    html .section__title {
        width: 150px
    }
}

@media screen and (max-width:768px) {
    body .section__title,
    html .section__title {
        text-align: left;
        width: auto
    }
}

body .section__content,
html .section__content {
    font-weight: 300;
    font-size: 1rem;
    width: 100%;
    max-width: 650px
}

.night .section__content {
    font-weight: 300;
    font-size: 2rem;
    width: 100%;
    max-width: 650px
}

@media screen and (max-width:768px) {
    body .section__content,
    html .section__content {
        padding-top: 30px;
        padding-left: 50px
    }
}

@media screen and (max-width:480px) {
    body .section__content,
    html .section__content {
        padding-left: 30px
    }
}

body .section__content p,
html .section__content p {
    margin-top: 0;
    margin-bottom: 25px
}

body .section__content .underline-link,
html .section__content .underline-link {
    position: relative;
    display: inline-block
}

    body .section__content .underline-link:after,
    html .section__content .underline-link:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 1px;
        background: #36363c;
        content: '';
        opacity: 0;
        -webkit-transition: height .3s, opacity .3s, -webkit-transform .3s;
        transition: height .3s, opacity .3s, -webkit-transform .3s;
        transition: height .3s, opacity .3s, transform .3s;
        transition: height .3s, opacity .3s, transform .3s, -webkit-transform .3s;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }

    body .section__content .underline-link:focus:after,
    body .section__content .underline-link:hover:after,
    html .section__content .underline-link:focus:after,
    html .section__content .underline-link:hover:after {
        height: 2px;
        border-radius: 3px;
        opacity: 1;
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px)
    }

body .arrow-link,
html .arrow-link {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: 700;
    display: inline-block;
    background-color: transparent;
    white-space: nowrap
}

    body .arrow-link:after,
    html .arrow-link:after {
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        position: relative;
        bottom: 2px;
        margin-left: 15px;
        content: '';
        background: url(../images/Icon_Arrow.png) no-repeat center;
        background-size: 100%;
        width: 15px;
        height: 15px;
        display: inline-block;
        vertical-align: middle
    }

    body .arrow-link:hover:after,
    html .arrow-link:hover:after {
        -webkit-transform: translateX(7px);
        transform: translateX(7px)
    }

body .small,
html .small {
    font-family: Inconsolata, monospace;
    font-size: .85rem;
    display: inline-block;
    margin-top: 15px
}

.night .small {
    font-family: Inconsolata, monospace;
    font-size: 1.5rem;
    display: inline-block;
    margin-top: 15px
}

body .small:after,
html .small:after {
    display: none
}

body #top-button,
html #top-button {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background: 0 0;
    border: none;
    outline: 0;
    width: 40px;
    position: fixed;
    bottom: 25px;
    right: 10px;
    cursor: pointer;
    display: none
}

@media screen and (max-width:1024px) {
    body #top-button,
    html #top-button {
        bottom: 20px;
        right: 7px;
        width: 35px
    }
}

@media screen and (max-width:480px) {
    body #top-button,
    html #top-button {
        bottom: 15px;
        right: 3px
    }
}

body #top-button:focus,
body #top-button:hover,
html #top-button:focus,
html #top-button:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
}

body #top-button img,
html #top-button img {
    width: 100%
}

.waypoint {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
    -webkit-transition: opacity .6s cubic-bezier(.694, 0, .335, 1), -webkit-transform .6s cubic-bezier(.694, 0, .335, 1);
    transition: opacity .6s cubic-bezier(.694, 0, .335, 1), -webkit-transform .6s cubic-bezier(.694, 0, .335, 1);
    transition: opacity .6s cubic-bezier(.694, 0, .335, 1), transform .6s cubic-bezier(.694, 0, .335, 1);
    transition: opacity .6s cubic-bezier(.694, 0, .335, 1), transform .6s cubic-bezier(.694, 0, .335, 1), -webkit-transform .6s cubic-bezier(.694, 0, .335, 1)
}

.in-view {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.pixel-switch-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 30px
}

@media screen and (max-width:480px) {
    .switch-wrapper {
        top: 10px;
        right: 20px
    }
}

.pixel-switch-wrapper .moon,
.pixel-switch-wrapper .sun {
    width: 17px;
    height: 17px
}

.pixel-switch-wrapper .sun {
    background: url(../img/switch/sun.svg) no-repeat center;
    background-size: 100%
}

.pixel-switch-wrapper .moon {
    background: url(../img/switch/moon.svg) no-repeat center;
    background-size: 100%
}

.pixel-switch-wrapper .toggle-wrapper {
    margin: 10px
}

    .pixel-switch-wrapper .toggle-wrapper #switch {
        height: 0;
        width: 0;
        visibility: hidden;
        position: absolute
    }

        .pixel-switch-wrapper .toggle-wrapper #switch:checked + label {
            background: #bae67e
        }

            .pixel-switch-wrapper .toggle-wrapper #switch:checked + label:after {
                left: calc(100% - 3px);
                -webkit-transform: translateX(-100%);
                transform: translateX(-100%)
            }

    .pixel-switch-wrapper .toggle-wrapper label {
        cursor: pointer;
        text-indent: -9999px;
        width: 45px;
        height: 25px;
        background: grey;
        display: block;
        border-radius: 100px;
        position: relative
    }

        .pixel-switch-wrapper .toggle-wrapper label:after {
            -webkit-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            content: '';
            position: absolute;
            top: 3px;
            left: 3px;
            width: 19px;
            height: 19px;
            background: #fff;
            border-radius: 100%
        }

.navbar {
    background-color: lavender !important;
}

.footer {
    background-color: lavender !important;
}

.intro {
    /*padding: 20px;*/
    /*height: 100vh;*/
    width: 100%;
    
    min-height: 10vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    max-width: 1440px;
    margin: 0 auto
}

@media screen and (max-width:630px) {
    .intro {
        padding: 20px;
    }
}

@media screen and (max-width:550px) {
    .intro {
        padding: 20px;
    }
}

@media screen and (max-width:480px) {
    .intro {
        padding: 20px;
    }
}

.intro__hello,
.intro__tagline {
    font-size: 2.5rem
}

.night .intro__hello,
.night .intro__tagline {
    font-size: 4rem
}

@media screen and (max-width:1024px) {
    .intro__hello,
    .intro__tagline {
        font-size: 2.25rem
    }

    .night .intro__hello,
    .night .intro__tagline {
        font-size: 3.5rem
    }
}

@media screen and (max-width:768px) {
    .intro__hello,
    .intro__tagline {
        font-size: 2rem
    }

    .night .intro__hello,
    .night .intro__tagline {
        font-size: 3rem
    }
}

@media screen and (max-width:550px) {
    .intro__hello,
    .intro__tagline {
        font-size: 1.75rem
    }
}

@media screen and (max-width:360px) {
    .intro__hello,
    .intro__tagline {
        font-size: 1.5rem
    }
}

@media screen and (max-width:330px) {
    .intro__hello,
    .intro__tagline {
        font-size: 1.4rem
    }

    .night .intro__hello,
    .night .intro__tagline {
        font-size: 2.5rem
    }
}

.intro__hello .emoji,
.intro__tagline .emoji {
    width: 40px;
    height: 40px
}

@media screen and (max-width:1024px) {
    .intro__hello .emoji,
    .intro__tagline .emoji {
        width: 35px;
        height: 35px
    }
}

@media screen and (max-width:768px) {
    .intro__hello .emoji,
    .intro__tagline .emoji {
        width: 30px;
        height: 30px
    }
}

@media screen and (max-width:360px) {
    .intro__hello .emoji,
    .intro__tagline .emoji {
        width: 25px;
        height: 25px
    }
}

.intro__hello {
    font-weight: 300;
    font-size: 35px;
    min-width: 400px;
}

.avatar__wave {
    margin-left: 10px;
    cursor: pointer
}


.popup {
    z-index: 100;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.alt {
    color: white;
    font-size: 14px;
    height: 0px;
}

.company {
    float: right;
    text-align: center;
    margin-top: -120px;
}

.alt-wrap p.alt {
    display: block;
    position: fixed;
    bottom: -100px;
    opacity: 0; /* hide initially */
    line-height: 40px;
    font-size: 25px;
    background-color: rgba(0,0,0,0.9);
    transition: all 300ms ease;
    transition-delay: 0ms;
}

.alt-wrap:hover {
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}

    /* Hovering over the wrapper shows its alt p*/
.alt-wrap:hover > p.alt {
    height: 40px;
    opacity: 1;
    transition-delay: 0s;
    left: 200px;
    right: 200px;
    top: 10px;
    transition: all 300ms ease;
}

.pop-wrap {
    text-decoration: underline;
}

.pop-wrap img.popup {
    display: block;
    position: fixed;
    filter: blur(5px);
    left: 0px;
    bottom: 0px;
    opacity: 0; /* hide initially */
    transition: all 600ms ease;
    transition-delay: 0ms;
    height: 0%;
}

.pop-wrap:hover > img.popup {
    height: 100%;
    opacity: 1;
    transition-delay: 0s;
    left: 10px;
    bottom: 55px;
    transition: all 600ms ease;
    filter: blur(0px);
}

.pop-wrap iframe.popup {
    display: block;
    position: fixed;
    filter: blur(5px);
    left: 0px;
    bottom: 0px;
    opacity: 0; /* hide initially */
    transition: all 600ms ease;
    transition-delay: 0ms;
    height: 0%;
}

.pop-wrap:hover > iframe.popup {
    height: 100%;
    opacity: 1;
    transition-delay: 0s;
    left: 10px;
    bottom: 55px;
    transition: all 600ms ease;
    filter: blur(0px);
}

a img {
    /*filter: invert(100%);*/
    filter: brightness(70%);
    border-radius: 50%;
    max-width: 25px;
    max-height: 25px;
}

a:hover img {
    /*filter: invert(100%);*/
    filter: brightness(100%);
    box-shadow: 0 4px 20px -5px black;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

#Avatar:hover {
    box-shadow: 0 4px 10px -2px black;
}


.avatar__wave {
    /*-webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: wave;
    animation-name: wave;*/
    animation: wave 5s ease-in-out;
    -webkit-animation: wave 5s ease-in-out;
}

@-webkit-keyframes wave {
    from {
        -webkit-transform: none;
        transform: none
    }

    15% {
        -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
        transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg)
    }

    30% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg)
    }

    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg)
    }

    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg)
    }

    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg)
    }

    to {
        -webkit-transform: none;
        transform: none
    }
}

@keyframes wave {
    from {
        -webkit-transform: none;
        transform: none
    }

    15% {
        -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
        transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg)
    }

    30% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg)
    }

    45% {
        -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
        transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg)
    }

    60% {
        -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
        transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg)
    }

    75% {
        -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
        transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg)
    }

    to {
        -webkit-transform: none;
        transform: none
    }
}

.intro__wrap {
    /*max-width: 1000px;*/
    position: relative;
}

    .intro__wrap .intro__icon {
        float: right;
    }

    .intro__wrap .intro__tagline {
        line-height: 50px;
    }

@media screen and (max-width:550px) {
    .intro__wrap .intro__icon {
        float: none;
        display: none;
    }
}

.intro__tagline {
    font-weight: 300;
    max-width: 700px;
    position: relative;
}

    .intro__tagline .name {
        font-weight: 700
    }

    .intro__tagline .technologist {
        background-image: url(../img/emojis/technologist.png)
    }

@media screen and (max-width:900px) {
    .intro__tagline {
        max-width: 500px;
    }
}

.intro__icon {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 200px;
    height: 200px;
}

.intro__contact {
    font-size: 1.25rem;
    font-weight: 400
}

.night .intro__contact {
    font-size: 2.25rem;
    font-weight: 400
}

@media screen and (max-width:550px) {
    .intro__contact {
        font-size: 1rem
    }

    .night .intro__contact {
        font-size: 1.75rem;
        font-weight: 400
    }
}

.intro__contact .emoji.pointer {
    background-image: url(../img/emojis/pointright.png);
    width: 30px;
    height: 30px;
    margin: 0 5px;
    vertical-align: text-bottom
}

@media screen and (max-width:550px) {
    .intro__contact .emoji.pointer {
        width: 25px;
        height: 25px
    }
}

.intro__contact .highlight-link {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    padding: 2px 3px;
    text-decoration: none;
    -webkit-box-shadow: inset 0 -3px 0 #bae67e;
    box-shadow: inset 0 -3px 0 #bae67e
}

.intro__contact .highlight-link:hover {
    -webkit-box-shadow: inset 0 -33px 0 0 #719f32;
    box-shadow: inset 0 -33px 0 0 #719f32;
    color: #fff
}

.skills .skillz {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

@media screen and (max-width:630px) {
    .skills .skillz {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
}

@media screen and (max-width:630px) {
    .skills .skillz__category {
        width: 47%;
        margin-right: 5px;
        margin-bottom: 25px
    }
}

.skills .skillz__category__label {
    font-weight: 700;
    color: #36363c;
    text-transform: uppercase
}

.skills .skillz__category__item {
    margin: 3px 0;
    font-size: .9rem
}

.night .skills {
    margin: 3px 0;
    font-size: 1rem
}

.night .skillz__category__item {
    margin: 3px 0;
    font-size: 1.25rem
}


.experience .jobs {
    margin-bottom: 100px
}

.experience .job {
    margin-bottom: 25px
}

    .experience .job .time-place {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

@media screen and (max-width:480px) {
    .experience .job .time-place {
        display: block
    }
}

.experience .job__company {
    font-weight: 700
}

.experience .job__time {
    font-size: .9rem;
    font-family: Inconsolata, monospace
}

@media screen and (max-width:480px) {
    .experience .job__time {
        font-size: .8rem
    }
}

.experience .arrow-link {
    font-size: 1.25rem
}

    .experience .arrow-link:after {
        width: 20px;
        height: 20px
    }

.status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.1rem;
    margin-top: 70px
}

.status__light {
    width: 30px;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.status__light__ring {
    position: absolute;
    width: 25px;
    height: 25px;
    -webkit-animation: pulsate 2s ease-out;
    animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0;
    border: 3px solid #bae67e;
    border-radius: 30px
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(.1, .1);
        transform: scale(.1, .1);
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

@keyframes pulsate {
    0% {
        -webkit-transform: scale(.1, .1);
        transform: scale(.1, .1);
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        -webkit-transform: scale(1.2, 1.2);
        transform: scale(1.2, 1.2);
        opacity: 0
    }
}

.status__light__led {
    position: absolute;
    width: 13px;
    height: 13px;
    background: #bae67e;
    border-radius: 100%
}

.status__message {
    margin-left: 15px
}

.featured-projects a:after {
    display: none
}

.featured-projects .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px;
    margin-left: -5%;
    width: 125%
}

@media screen and (max-width:1280px) {
    .featured-projects .project {
        width: 115%
    }
}

@media screen and (max-width:1024px) {
    .featured-projects .project {
        width: 105%
    }
}

@media screen and (max-width:768px) {
    .featured-projects .project {
        width: 100%;
        display: block;
        margin-bottom: 70px
    }
}

.featured-projects .project.screentime {
    margin-bottom: 70px
}

.featured-projects .project:last-of-type {
    margin-bottom: 0
}

.featured-projects .project__pic {
    max-width: 700px;
    overflow: visible;
    margin: 0
}

    .featured-projects .project__pic a {
        display: block
    }

    .featured-projects .project__pic.phones a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between
    }

    .featured-projects .project__pic.phones .phone {
        margin: 0 -7%
    }

        .featured-projects .project__pic.phones .phone:first-of-type {
            margin-left: -5%
        }

    .featured-projects .project__pic img {
        width: 100%;
        max-width: 100%;
        vertical-align: bottom
    }

.featured-projects .project__caption {
    width: 125px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-left: 30px
}

@media screen and (max-width:768px) {
    .featured-projects .project__caption {
        width: 100%;
        margin-top: 25px;
        margin-left: 0
    }
}

.featured-projects .project__name {
    margin-bottom: 10px
}

    .featured-projects .project__name a {
        font-weight: 700
    }

.featured-projects .project p {
    font-size: .85rem;
    line-height: 1.3
}

.night .featured-projects .project p {
    font-size: 1.6rem;
    line-height: 1.3
}

.other-projects .project {
    max-width: 600px;
    margin-bottom: 50px
}

.other-projects .project__name {
    margin-bottom: 10px
}

.other-projects .project p {
    font-size: .9rem;
    margin-bottom: 20px
}

.other-projects .project__used__item {
    display: inline-block;
    margin: 3px 3px 3px 0;
    font-family: Inconsolata, monospace;
    font-size: .75rem;
    font-weight: 700;
    padding: 2px 7px;
    border-radius: 3px;
    color: #ac3232;
    border: 1px solid #ac3232;
    background: 0 0
}

    .other-projects .project__used__item:first-of-type {
        margin-left: 0
    }

.footer {
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media screen and (max-width:1024px) {
    .footer {
        
    }
}

@media screen and (max-width:630px) {
    .footer {
        display: block
    }
}

@media screen and (max-width:480px) {
    .footer {
        
    }
}

.footer__copyright {
    font-weight: 700;
    width: 200px
}

@media screen and (max-width:630px) {
    .footer__copyright {
        width: auto;
        text-align: center;
        margin-bottom: 25px
    }
}

@media screen and (max-width:630px) {
    .footer__copyright .bottom,
    .footer__copyright .top {
        display: inline-block
    }
}

@media screen and (max-width:480px) {
    .footer__copyright .bottom,
    .footer__copyright .top {
        display: block
    }
}

.footer__copyright .emoji {
    width: 20px;
    height: 20px;
    margin: 0 3px;
    vertical-align: text-bottom
}

@media screen and (max-width:630px) {
    .footer__links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
}

.footer__links a {
    position: relative;
    display: inline-block;
    color: #ac3232 !important;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 15px;
    outline: 0
}

@media screen and (max-width:1024px) {
    .footer__links a {
        margin: 0 10px
    }
}

.footer__links a:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ac3232;
    content: '';
    opacity: 0;
    -webkit-transition: height .3s, opacity .3s, -webkit-transform .3s;
    transition: height .3s, opacity .3s, -webkit-transform .3s;
    transition: height .3s, opacity .3s, transform .3s;
    transition: height .3s, opacity .3s, transform .3s, -webkit-transform .3s;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
}

@media screen and (max-width:850px) {
    .footer__links a:after {
        display: none
    }
}

.footer__links a:focus:after,
.footer__links a:hover:after {
    height: 2px;
    border-radius: 3px;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.footer__links a .text {
    font-size: .9rem;
    display: inline;
    letter-spacing: 1px
}

@media screen and (max-width:850px) {
    .footer__links a .text {
        display: none
    }
}

.footer__links img {
    display: none;
    width: 22px
}

.footer__links svg {
    display: none;
    width: 22px
}

@media screen and (max-width:850px) {
    .footer__links svg {
        display: inline-block
    }
}

.not-found {
    width: 100%;
    height: 91.6vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    padding: 0 20px
}

    .not-found .name {
        position: absolute;
        top: 25px;
        left: 30px;
        font-weight: 700;
        color: #ac3232;
        font-size: 1.5rem
    }

@media screen and (max-width:480px) {
    .not-found .name {
        top: 20px;
        left: 25px;
        font-size: 1.25rem
    }
}

.not-found h1 {
    font-size: 4rem;
    margin: 10px 0
}

.not-found h2 {
    font-size: 1.5rem
}

@media screen and (max-width:480px) {
    .not-found h2 {
        font-size: 1.25rem
    }
}

@media screen and (max-width:360px) {
    .not-found h2 {
        font-size: 1.1rem
    }
}

.not-found a {
    font-weight: 700;
    color: #ac3232 !important;
    position: relative;
    display: inline-block
}

    .not-found a:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        background: #ac3232;
        content: '';
        opacity: 0;
        -webkit-transition: height .3s, opacity .3s, -webkit-transform .3s;
        transition: height .3s, opacity .3s, -webkit-transform .3s;
        transition: height .3s, opacity .3s, transform .3s;
        transition: height .3s, opacity .3s, transform .3s, -webkit-transform .3s;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px)
    }

    .not-found a:focus:after,
    .not-found a:hover:after {
        height: 3px;
        opacity: 1;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
