@page
@model AssetsModel
@{
    ViewData["Title"] = "Personal Assets";
}

<head>
    <meta charset="utf-8">
    <title>Portfolio - Assets</title>
    <meta name="description" content="System Analyst Developer and Game Programmer">
    <meta name="author" content="Daniel Corbi Boldrin">
    <link rel="stylesheet" href="~/css/main.css" />
    <script defer="" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<br />
<br />
<header class="intro">
    <!-- Match 3 -->
    <div class="intro__wrap">
        <h1 class="intro__hello pop-wrap">
            Match3 - Game Template
            <img class="popup" src="~/Images/match3.png" alt="Match 3 different levels" style="border-radius: 5%; max-height: 450px;">
        </h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h2 class="intro__hello">Match3 WebGL Player</h2>
            <a href="https://soueuroya.github.io/FruitSplash/" target="_blank"><span>Play on GitHub: soueuroya.github.io/FruitSplash</span></a>
            <br />
            <br />
            <br />
            <h1 class="intro__hello pop-wrap">
                <iframe width="430" height="315" src="https://www.youtube.com/embed/odzdt9vhSw0" style="border-radius: 10% 10% 10% 10%;" title="Match 3 Game Template" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </h1>
            <br />
            <br />
            <span>Itch.io page</span>
            <br />
            <a href="https://danielboldrin.itch.io/fruit-splash" target="_blank">danielboldrin.itch.io/fruit-splash</a>
            <br />
            <br />
            <span>Technologies Used</span>
            <br />
            <a href="https://unity.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/unity.png" alt="Unity3D" title="unity.com">
                <p class="alt">Unity3D</p>
            </a>
            <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/csharp.png" alt="C#" title="docs.microsoft.com/en-us/dotnet/csharp">
                <p class="alt">C#</p>
            </a>
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/visualstudio.png" alt="Visual Studio" title="visualstudio.microsoft.com">
                <p class="alt">Visual Studio</p>
            </a>
            <a href="https://github.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/github.png" alt="Github" title="github.com">
                <p class="alt">Github</p>
            </a>
            <a href="https://www.audacityteam.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/audacity.png" alt="Audacity" title="audacityteam.org">
                <p class="alt">Audacity</p>
            </a>
            <a href="https://assetstore.unity.com/packages/templates/packs/match-3-colors-game-template-222007" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/assetstore.png" alt="Unity Asset Store" title="assetstore.unity.com/">
                <p class="alt">Unity Asset Store</p>
            </a>
        </div>

        <div class="intro__tagline" style="text-align: center !important; padding: 40px 40px 0px 5px; font-size: 19px !important;">
            As a personal project, I made a small Match 3 colors game using an external art package.
            <br />
            <br />
            My main goal was to use only 1 package dependency to build an entire game that can be easily added to any project.
            <br />
            <br />
            There are 5 different scenes, 3 pre-created levels, 1 level randomizer and 1 level creator.
            <br />
            <br />
            My main challenge in this project was using one source of art and being able to create cross shaped grids.
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            You can find the Asset Store page here:
        </div>
        <a href="https://assetstore.unity.com/packages/templates/packs/match-3-colors-game-template-222007" target="_blank">
            <img src="~/Images/BW/assetstore.png" alt="Unity Asset Store - Match 3 Game Template" title="assetstore.unity.com/">
            assetstore.unity.com/packages/templates/packs/match-3-colors-game-template-222007
        </a>
    </div>
    <br />
</header>
<div style="clear:both; border-bottom: 1px solid black; width: 100%; height: 10px;"></div>
<br />
<header class="intro">
    <!-- Lockpicking Minigame -->
    <div class="intro__wrap">
        <h1 class="intro__hello pop-wrap">
            Lockpicking Minigame Template
            <img class="popup" src="~/Images/lockpicking.png" alt="Lockpicking Minigame Template" style="border-radius: 5%; max-height: 450px;">
        </h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h2 class="intro__hello">Lockpicking WebGL Player</h2>
            <a href="https://soueuroya.github.io/LockpickingWebgl/" target="_blank"><span>Play on GitHub: soueuroya.github.io/LockpickingWebgl/</span></a>
            <br />
            <br />
            <br />
            <h1 class="intro__hello pop-wrap">
                <iframe width="430" height="315" src="https://www.youtube.com/embed/ibikxf0E1tQ" style="border-radius: 10% 10% 10% 10%;" title="Lockpicking Game Template" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </h1>
            <br />
            <br />
            <span>Itch.io page</span>
            <br />
            <a href="https://danielboldrin.itch.io/lockpicking-minigame-template" target="_blank">danielboldrin.itch.io/lockpicking-minigame-template</a>
            <br />
            <br />
            <span>Technologies Used</span>
            <br />
            <a href="https://unity.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/unity.png" alt="Unity3D" title="unity.com">
                <p class="alt">Unity3D</p>
            </a>
            <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/csharp.png" alt="C#" title="docs.microsoft.com/en-us/dotnet/csharp">
                <p class="alt">C#</p>
            </a>
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/visualstudio.png" alt="Visual Studio" title="visualstudio.microsoft.com">
                <p class="alt">Visual Studio</p>
            </a>
            <a href="https://github.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/github.png" alt="Github" title="github.com">
                <p class="alt">Github</p>
            </a>
            <a href="https://assetstore.unity.com/packages/templates/packs/match-3-colors-game-template-222007" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/assetstore.png" alt="Unity Asset Store" title="assetstore.unity.com/">
                <p class="alt">Unity Asset Store</p>
            </a>
        </div>

        <div class="intro__tagline" style="text-align: center !important; padding: 40px 40px 0px 5px; font-size: 19px !important;">
            As another personal project, I made a small semi-realistic lockingpicking minigame.
            <br />
            <br />
            My main goal was to create a lockpicking game that could be somewhat realistic and that could be added easily into other projects.
            <br />
            <br />
            There are 3 different difficulties and includes a door as an example.
            <br />
            <br />
            This package will be updated in the future.
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            You can find the Asset Store page here:
        </div>
        <a href="https://assetstore.unity.com/packages/templates/systems/lockpicking-minigame-221217" target="_blank">
            <img src="~/Images/BW/assetstore.png" alt="Unity Asset Store - Lockpicking Minigame" title="assetstore.unity.com/">
            assetstore.unity.com/packages/templates/systems/lockpicking-minigame-221217
        </a>
    </div>
    <br />
</header>
<div style="clear:both; border-bottom: 1px solid black; width: 100%; height: 10px;"></div>
<br />
<header class="intro">
    <!-- WEBGL MULTIPLAYER TEMPLATE-->
    <div class="intro__wrap">
        <h1 class="intro__hello pop-wrap">
            WebGL Multiplayer Rooms Template
            <img class="popup" src="~/Images/multiplayer2.png" alt="WebGL Multiplayer Rooms Template" style="border-radius: 5%; max-height: 450px;">
        </h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h2 class="intro__hello">Multiplayer WebGL Player</h2>
            <a href="https://webglmultiplayertemplateserver.herokuapp.com/" target="_blank"><span>On Heroku: webglmultiplayertemplateserver.herokuapp.com/</span></a>
            <br />
            <br />
            <br />
            <h1 class="intro__hello pop-wrap">
                <img src="~/Images/multiplayer.png" alt="Multiplayer Template" title="Multiplayer Template" style="border-radius: 5%; max-width: 350px;">
            </h1>
            <br />
            <br />
            <span>Itch.io page</span>
            <br />
            <a href="https://danielboldrin.itch.io/unity-multiplayer-rooms-template" target="_blank">danielboldrin.itch.io/unity-multiplayer-rooms-template</a>
            <br />
            <br />
            <span>Technologies Used</span>
            <br />
            <a href="https://unity.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/unity.png" alt="Unity3D" title="unity.com">
                <p class="alt">Unity3D</p>
            </a>
            <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/csharp.png" alt="C#" title="docs.microsoft.com/en-us/dotnet/csharp">
                <p class="alt">C#</p>
            </a>
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/visualstudio.png" alt="Visual Studio" title="visualstudio.microsoft.com">
                <p class="alt">Visual Studio</p>
            </a>
            <a href="https://heroku.com" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/heroku.png" alt="Heroku" title="heroku.com">
                <p class="alt">Heroku</p>
            </a>
            <a href="https://github.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/github.png" alt="Github" title="github.com">
                <p class="alt">Github</p>
            </a>
            <a href="https://assetstore.unity.com/packages/templates/packs/match-3-colors-game-template-222007" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/assetstore.png" alt="Unity Asset Store" title="assetstore.unity.com/">
                <p class="alt">Unity Asset Store</p>
            </a>
        </div>

        <div class="intro__tagline" style="text-align: center !important; padding: 40px 40px 0px 5px; font-size: 19px !important;">
            As a personal project, I made a small WebGL Multiplayer Rooms Template Package for Unity.
            <br />
            <br />
            With this package you can easily deploy your Unity project online to be played by other players.
            <br />
            <br />
            There is a scene with a multiplayer menu and room creation examples.
            <br />
            This package is still under construction and it is being updated constantly.
            <br />
            <br />
            Download extra content for this package, including the Server.js code and WebGLTemplate
            <br />
            <br />
            <a href="~/Documents/WebGLMultiplayerRoomsTemplate_EXTRA_CONTENT.7z" target="_blank">Extra Content.7z</a>
            <br />
            <a href="~/Documents/WebGLMultiplayerRoomsTemplate_EXTRA_CONTENT.rar" target="_blank">Extra Content.rar</a>
            <br />
            <a href="~/Documents/WebGLMultiplayerRoomsTemplate_EXTRA_CONTENT.zip" target="_blank">Extra Content.zip</a>
            <br />
            <br />
            <br />
            <br />
            <br />
            The asset store link will be published once the asset is accepted.
            <br />
            Meanwhile, you can download the extra content and explore the server and client javascript code.
        </div>
    </div>
    <br />
</header>
<br />
<iframe width="115%;" height="330" src="https://www.youtube.com/embed/IQaT0FSzTeI" style="margin-left:-110px; border-radius: 2% 2% 2% 2%;" title="WebGL Multiplayer Template" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div style="clear:both; border-bottom: 1px solid black; width: 100%;"></div>

<style>
    .intro__tagline {
        text-align: left !important;
        font-size: 20px !important;
        line-height: 22px !important;
    }

    .scrollable {
        width: 100%;
        height: 90vh;
        overflow: hidden;
        padding: 0px !important;
    }

    .scrollable:hover {
        width: 100%;
        height: 90vh;
        overflow-y: auto;
        padding-left: 16.8px !important;
    }

    .menu-assets {
        background-color: #b0c4de;
        width: 150px;
        text-align: center;
    }

    .body-back-color {
        background-color: #b0c4de;
    }

    .intro__contact .highlight-link {
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        font-weight: 400;
        text-decoration: none;
        display: inline-block;
        padding: 2px 3px;
        text-decoration: none;
        -webkit-box-shadow: inset 0 -3px 0 #bae67e;
        box-shadow: inset 0 -3px 0 #bae67e
    }

    .intro__contact .highlight-link:hover {
        -webkit-box-shadow: inset 0 -33px 0 0 #719f32;
        box-shadow: inset 0 -33px 0 0 #719f32;
        color: #fff
    }
</style>
