@page
@model EducationModel
@{
    ViewData["Title"] = "Education";
}

<head>
    <meta charset="utf-8">
    <title>Daniel Corbi Boldrin</title>
    <meta name="description" content="System Analyst Developer and Game Programmer">
    <meta name="author" content="Daniel Corbi Boldrin">
    <link rel="stylesheet" href="~/css/main.css" />
    <script defer="" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<br />
<br />
<header class="intro">
    <!-- GBC -->
    <div class="intro__wrap">
        <h1 class="intro__hello pop-wrap">
            Game Programming - Advanced Diploma
            <img class="popup" src="~/Images/gbcdiploma.png" alt="Daniel Boldrin Game Programming Diploma" title="Daniel Boldrin Game Programming Diploma" style="border-radius: 5%; max-height: 500px;">
        </h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h2 class="intro__hello">George Brown College</h2>
            <a href="https://www.georgebrown.ca/" target="_blank"><span>georgebrown.ca</span></a>
            <br />
            <br />
            <br />
            <h1 class="intro__hello pop-wrap">
                <img src="~/Images/georgebrown.png" alt="George Brown College Logo" title="George Brown College Logo" style="border-radius: 5%; max-width: 250px; max-height: 250px;">
                <img class="popup" src="~/Images/gbcdiploma.png" alt="Daniel Boldrin Game Programming Diploma" title="Daniel Boldrin Game Programming Diploma" style="border-radius: 5%; max-height: 500px;">
            </h1>
            <br />
            <br />
            <span>Toronto, ON - Canada</span>
            <br />
            <span>Graduated in April 2021</span>
            <br />
            <br />
            <span>Technologies Learned</span>
            <br />
            <a href="https://unity.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/unity.png" alt="Unity3D" title="unity.com">
                <p class="alt">Unity3D</p>
            </a>
            <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/csharp.png" alt="C#" title="docs.microsoft.com/en-us/dotnet/csharp">
                <p class="alt">C#</p>
            </a>
            <a href="https://www.cplusplus.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/cplusplus.png" alt="C++" title="cplusplus.com">
                <p class="alt">C++</p>
            </a>
            <a href="https://www.opengl.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/opengl.png" alt="OpenGL" title="opengl.org">
                <p class="alt">OpenGL</p>
            </a>
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/visualstudio.png" alt="Visual Studio" title="visualstudio.microsoft.com">
                <p class="alt">Visual Studio</p>
            </a>
            <br />
            <a href="https://github.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/github.png" alt="Github" title="github.com">
                <p class="alt">Github</p>
            </a>
            <a href="https://www.perforce.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/perforce.png" alt="Perforce" title="perforce.com">
                <p class="alt">Perforce</p>
            </a>
            <a href="https://aws.amazon.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/amazonaws.png" alt="Amazon AWS" title="aws.amazon.com">
                <p class="alt">Amazon AWS</p>
            </a>
            <a href="https://www.unrealengine.com/en-US/unreal" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/unrealengine.png" alt="Unreal Engine" title="unrealengine.com">
                <p class="alt">Unreal Engine</p>
            </a>
            <a href="https://www.android.com/intl/en_ca/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/android.png" alt="Android" title="android.com/intl/en_ca">
                <p class="alt">Android</p>
            </a>
            <br />
            <a href="https://www.blender.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/blender.png" alt="Blender" title="blender.org">
                <p class="alt">Blender</p>
            </a>
            <a href="https://www.mixamo.com" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/mixamo.png" alt="Mixamo" title="mixamo.com">
                <p class="alt">Mixamo</p>
            </a>
            <a href="https://zoom.us/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/zoom.png" alt="Zoom" title="zoom.us">
                <p class="alt">Zoom</p>
            </a>
            <a href="https://www.linux.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/linux.png" alt="Linux" title="linux.org">
                <p class="alt">Linux</p>
            </a>
            <a href="https://www.microsoft.com/en-ca/windows" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/windows.png" alt="Windows" title="microsoft.com">
                <p class="alt">Windows</p>
            </a>
        </div>

        <h2 class="intro__tagline" style="text-align: center;">
            Graduated with honours.
            <br />
            Studied computer languages such as C++, C#, and Python.
            <br />
            Studied networking, multiplayer, consoles programming, and mobile programming.
            <br />
            Studied game engines such as Unity3D and Unreal Engine.
            <br />
            Studied 3D animation, modeling, 2D drawing, and arts.
        </h2>
    </div>
    <br />
</header>
<div style="clear:both; border-bottom: 1px solid black; width: 100%;"></div>
<header class="intro">
    <!-- IFSP -->
    <div class="intro__wrap">
        <br />
        <h1 class="intro__hello pop-wrap">
            System Analysis and Development - Diploma
            <img class="popup" src="~/Images/ifspdiploma.png" alt="Daniel System Analysis and Development Diploma" title="Daniel System Analysis and Development Diploma" style="border-radius: 5%; max-height: 500px;">
        </h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h2 class="intro__hello">IFSP</h2>
            <a href="https://www.arq.ifsp.edu.br/" target="_blank"><span>arq.ifsp.edu.br</span></a>
            <br />
            <br />
            <br />
            <h1 class="intro__hello pop-wrap">
                <img src="~/Images/ifsp.png" alt="Federal Institute of São Paulo Logo" title="Federal Institute of São Paulo Logo" style="border-radius: 5%; max-width: 250px; max-height: 250px;">
                <img class="popup" src="~/Images/ifspdiploma.png" alt="Daniel System Analysis and Development Diploma" title="Daniel System Analysis and Development Diploma" style="border-radius: 5%; max-height: 500px;">
            </h1>
            <br />
            <br />
            <span>Araraquara, SP - Brazil</span>
            <br />
            <span>Graduated in January 2017</span>
            <br />
            <br />
            <span>Technologies Learned</span>
            <br />
            <a href="https://www.cprogramming.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/c.png" alt="C" title="cprogramming.com">
                <p class="alt">C</p>
            </a>
            <a href="https://www.cplusplus.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/cplusplus.png" alt="C++" title="cplusplus.com">
                <p class="alt">C++</p>
            </a>
            <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/csharp.png" alt="C#" title="docs.microsoft.com/en-us/dotnet/csharp">
                <p class="alt">C#</p>
            </a>
            <a href="https://www.java.com/en/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/java.png" alt="Java" title="java.com">
                <p class="alt">Java</p>
            </a>
            <a href="https://www.microsoft.com/en-ca/download/details.aspx?id=20914" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/xna.png" alt="XNA" title="microsoft.com/en-ca/download/details.aspx?id=20914">
                <p class="alt">XNA</p>
            </a>
            <a href="https://html.spec.whatwg.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/html5.png" alt="HTML5" title="html.spec.whatwg.org">
                <p class="alt">HTML5</p>
            </a>
            <br />
            <a href="https://www.w3.org/Style/CSS/Overview.en.html" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/css3.png" alt="CSS3" title="w3.org/Style/CSS/Overview.en.html">
                <p class="alt">CSS3</p>
            </a>
            <a href="https://www.javascript.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/javascript.png" alt="Javascript" title="javascript.com">
                <p class="alt">Javascript</p>
            </a>
            <a href="https://jquery.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/jquery.png" alt="jQuery" title="jquery.com">
                <p class="alt">jQuery</p>
            </a>
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/visualstudio.png" alt="Visual Studio" title="visualstudio.microsoft.com">
                <p class="alt">Visual Studio</p>
            </a>
            <a href="https://www.microsoft.com/en-us/sql-server/sql-server-2019" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/sql.png" alt="SQL" title="microsoft.com/en-us/sql-server/sql-server-2019">
                <p class="alt">SQL</p>
            </a>
            <br />
            <a href="https://www.mysql.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/mysql.png" alt="MySQL" title="mysql.com">
                <p class="alt">MySQL</p>
            </a>
            <a href="https://www.iis.net/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/iis.png" alt="IIS" title="iis.net">
                <p class="alt">IIS</p>
            </a>
            <a href="https://www.android.com/intl/en_ca/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/android.png" alt="Android" title="android.com/intl/en_ca">
                <p class="alt">Android</p>
            </a>
            <a href="https://www.linux.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/linux.png" alt="Linux" title="linux.org">
                <p class="alt">Linux</p>
            </a>
            <a href="https://www.microsoft.com/en-ca/windows" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/windows.png" alt="Windows" title="microsoft.com">
                <p class="alt">Windows</p>
            </a>
            <a href="https://www.microsoft.com/en-ca/microsoft-365/excel" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/microsoftexcel.png" alt="Excel" title="microsoft.com/en-ca/microsoft-365/excel">
                <p class="alt">Excel</p>
            </a>
        </div>

        <h2 class="intro__tagline" style="text-align: center;">
            Studied computer languages such as C, C++, C#, Java, Lua and Python.
            <br />
            Studied networking, security, operational systems, and database management.
            <br />
            Volunteered for mentorship in Object Oriented Programming, Logic, Analysis and Development, Algorithm, and Data Structure.
            <br />
            Completed an undergraduate research in `Web Accessibility`
            <br />
            Taught C# and XNA Game Programming classes for grade 12 students.
        </h2>
    </div>
    <br />
</header>
<div style="clear:both; border-bottom: 1px solid black; width: 100%;"></div>
<header class="intro">
    <!-- IFSP -->
    <div class="intro__wrap">
        <br />
        <h1 class="intro__hello pop-wrap">
            Web Accessibility - Undergraduate Research
            <img class="popup" src="~/Images/IC.png" alt="Undergraduate Research Certification" title="Undergraduate Research Certification" style="border-radius: 5%; max-height: 500px;">
        </h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h2 class="intro__hello">IFSP</h2>
            <a href="https://www.ifsp.edu.br/" target="_blank"><span>ifsp.edu.br</span></a>
            <br />
            <br />
            <br />
            <h1 class="intro__hello pop-wrap">
                <img src="~/Images/ifsp.png" alt="Federal Institute of São Paulo Logo" title="Federal Institute of São Paulo Logo" style="border-radius: 5%; max-width: 250px; max-height: 250px;">
                <img class="popup" src="~/Images/IC.png" alt="Undergraduate Research Certification" title="Undergraduate Research Certification" style="border-radius: 5%; max-height: 500px;">
            </h1>
            <br />
            <br />
            <span class="pop-wrap">
                Avaré, SP - Brazil
                <img class="popup" src="~/Images/avare.png" alt="Undergraduate Research Certification" style="border-radius: 5%; max-height: 500px;">
                <br />
                Presented in November 2012
            </span>
            <br />
            <br />
            <span class="pop-wrap">
                Araraquara, SP - Brazil
                <img class="popup" src="~/Images/araraquara.png" alt="Undergraduate Research Certification" style="border-radius: 5%; max-height: 500px;">
                <br />
                Presented in October 2012
            </span>
            <br />
            <br />
            <span class="pop-wrap">
                Florianópolis, SC - Brazil
                <img class="popup" src="~/Images/florianopolis.png" alt="Undergraduate Research Certification" style="border-radius: 5%; max-height: 500px;">
                <br />
                Presented in May and June 2012
            </span>
        </div>
        <h2 class="intro__tagline" style="text-align: center;">
            Researched human-computer interaction, different disabilities, and how they impact users` experience with websites.
            <br />
            Researched W3C system affordance best practices and standards.
            <br />
            As a result, I created a specialized survey to assure the quality and the accessibility of websites for users with different disabilities, with an emphasis on governmental systems.
        </h2>
    </div>
    <br />
</header>
<div style="clear:both; border-bottom: 1px solid black; width: 100%;"></div>
<header class="intro">
    <!-- MOURA -->
    <div class="intro__wrap">
        <br />
        <h1 class="intro__hello pop-wrap">
            Biz Game Development - Presenter
            <img class="popup" src="~/Images/bizgames.png" alt="Biz Games Certification" title="Biz Games Certification" style="border-radius: 5%; max-height: 500px;">
        </h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h2 class="intro__hello">JN Moura</h2>
            <a href="https://www.jnmoura.com.br/pt-br/" target="_blank"><span>jnmoura.com.br/pt-br</span></a>
            <br />
            <br />
            <h1 class="intro__hello pop-wrap">
                <img src="~/Images/moura.png" alt="JN Moura Logo" title="JN Moura Logo" style="border-radius: 5%; max-width: 200px; max-height: 200px;">
                <img class="popup" src="~/Images/bizgames.png" alt="Biz Games Certification" title="Biz Games Certification" style="border-radius: 5%; max-height: 500px;">
            </h1>
            <br />
            <span>Araraquara, SP - Brazil</span>
            <br />
            <span>Presented in November 2013</span>
        </div>
        <h2 class="intro__tagline" style="text-align: center;">
            Volunteered to be one of the Business and Game Development presenter at SESC Araraquara.
            <br />
            Created and presented 3 mini-games made with C# and XNA:
            <br />
            <br />
            An adventure game with dialogues and quests.
            <br />
            A simple guitar hero remake.
            <br />
            A top-down arcade game inspired on space invaders.
        </h2>
    </div>
    <br />
</header>
<div style="clear:both; border-bottom: 1px solid black; width: 100%;"></div>
<header class="intro">
    <!-- HP -->
    <div class="intro__wrap">
        <br />
        <h1 class="intro__hello pop-wrap">
            Standards of Business Conduct - Certification
            <img class="popup" src="~/Images/HPCERT.png" alt="SBC - HP Certification" title="SBC - HP Certification" style="border-radius: 5%; max-height: 500px;">
        </h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h2 class="intro__hello">Hewlett Packard</h2>
            <a href="https://www.hpe.com/us/en/home.html" target="_blank"><span>hp.com</span></a>
            <br />
            <br />
            <h1 class="intro__hello pop-wrap">
                <img src="~/Images/hp.png" alt="Hewlett Packard Logo" style="border-radius: 5%; max-width: 200px; max-height: 200px;">
                <img class="popup" src="~/Images/HPCERT.png" alt="SBC - HP Certification" title="SBC - HP Certification" style="border-radius: 5%; max-height: 500px;">
            </h1>
            <br />
            <br />
            <span>Araraquara, SP - Brazil</span>
            <br />
            <span>Completed in July 2015</span>
        </div>
    </div>
    <br />
</header>
<div style="clear:both; border-bottom: 1px solid black; width: 100%;"></div>
<header class="intro">
    <!-- HAND EYE -->
    <div class="intro__wrap">
        <br />
        <h1 class="intro__hello">Secret Acting Role - Voluntary</h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h1 class="intro__hello">Hand Eye Society</h1>
            <a href="https://www.handeyesociety.com/" target="_blank"><span>handeyesociety.com</span></a>
            <br />
            <br />
            <img src="~/Images/handeyesociety.png" alt="Hand Eye Society Logo" title="Hand Eye Society Logo" style="border-radius: 5%; max-width: 200px; max-height: 200px;">
            <br />
            <br />
            <span>Toronto, ON - Canada</span>
            <br />
            <span>Volunteered in August 2018</span>
        </div>
        <h2 class="intro__tagline" style="text-align: center;">
            Volunteered to be the secret agent acting role during the ball.
            <br />
            Responsible for guests' interactiveness with the main game played during the night.
        </h2>
    </div>
    <br />
</header>

<style>

    .intro__tagline {
        text-align: left !important;
        font-size: 20px !important;
    }

    .scrollable {
        width: 100%;
        height: 90vh;
        overflow: hidden;
        padding: 0px !important;
    }

        .scrollable:hover {
            width: 100%;
            height: 90vh;
            overflow-y: auto;
            padding-left: 16.8px !important;
        }

    .menu-education {
        background-color: white;
        width: 150px;
        text-align: center;
    }

    .body-back-color {
        background-color: white;
    }

    .intro__contact .highlight-link {
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        font-weight: 400;
        text-decoration: none;
        display: inline-block;
        padding: 2px 3px;
        text-decoration: none;
        -webkit-box-shadow: inset 0 -3px 0 #bae67e;
        box-shadow: inset 0 -3px 0 #bae67e
    }

        .intro__contact .highlight-link:hover {
            -webkit-box-shadow: inset 0 -33px 0 0 #719f32;
            box-shadow: inset 0 -33px 0 0 #719f32;
            color: #fff
        }
</style>
