@page
@model EducationModel
@{
    ViewData["Title"] = "Education";
}

<head>
    <meta charset="utf-8">
    <title>Daniel Corbi Boldrin</title>
    <meta name="description" content="System Analyst Developer and Game Programmer">
    <meta name="author" content="Daniel Corbi Boldrin">
    <link rel="stylesheet" href="~/css/main.css" />
    <script defer="" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<header class="intro" style="margin-top: -20px !important;">
    <!-- GBC -->
    <div class="intro__wrap">
        <h1 class="intro__hello">Game Programming - Diploma</h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h1 class="intro__hello">George Brown College</h1>
            <a href="https://www.georgebrown.ca/" target="_blank"><span>georgebrown.ca</span></a>
            <br />
            <br />
            <br />
            <img src="~/Images/georgebrown.png" alt="George Brown Logo" title="George Brown College" style="border-radius: 5%; max-width: 250px; max-height: 250px;">
            <br />
            <br />
            <span>Toronto, ON - Canada</span>
            <br />
            <span>Graduated in April 2021</span>
            <br />
            <br />
            <span>Technologies Learned</span>
            <br />
            <a href="https://unity.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/unity.png" alt="Unity3D" title="unity.com">
                <p class="alt">Unity3D</p>
            </a>
            <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/csharp.png" alt="C#" title="docs.microsoft.com/en-us/dotnet/csharp">
                <p class="alt">C#</p>
            </a>
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/visualstudio.png" alt="Visual Studio" title="visualstudio.microsoft.com">
                <p class="alt">Visual Studio</p>
            </a>
            <a href="https://www.mixamo.com" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/mixamo.png" alt="Mixamo" title="mixamo.com">
                <p class="alt">Mixamo</p>
            </a>
            <a href="https://zoom.us/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/zoom.png" alt="Zoom" title="zoom.us">
                <p class="alt">Zoom</p>
            </a>
        </div>

        <h2 class="intro__tagline" style="text-align: center;">
            Responsible for planning, organizing, and teaching game programming and web development remote classes with
            <span class="name">Unity3D</span> and <span class="name">C#</span>
            for class sizes of 6 students from grade 6 to 12.
            <br />
            Recognized for teaching and course coordination excellence.
        </h2>
    </div>
</header>
<div style="clear:both; border-bottom: 1px solid black; width: 100%;"></div>
<header class="intro">
    <!-- IFSP -->
    <div class="intro__wrap">
        <br />
        <h1 class="intro__hello">System Analysis and Development - Diploma</h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h1 class="intro__hello">IFSP</h1>
            <a href="https://www.arq.ifsp.edu.br/" target="_blank"><span>arq.ifsp.edu.br</span></a>
            <br />
            <br />
            <br />
            <img src="~/Images/ifsp.png" alt="IFSP Logo" title="Federal Institute of São Paulo" style="border-radius: 5%; max-width: 250px; max-height: 250px;">
            <br />
            <br />
            <span>Araraquara, SP - Brazil</span>
            <br />
            <span>Graduated in January 2017</span>
            <br />
            <br />
            <span>Technologies Learned</span>
            <br />
            <a href="https://unity.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/unity.png" alt="Unity3D" title="unity.com">
                <p class="alt">Unity3D</p>
            </a>
            <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/csharp.png" alt="C#" title="docs.microsoft.com/en-us/dotnet/csharp">
                <p class="alt">C#</p>
            </a>
            <a href="https://www.python.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/python.png" alt="Python" title="python.org">
                <p class="alt">Python</p>
            </a>
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/visualstudio.png" alt="Visual Studio" title="visualstudio.microsoft.com">
                <p class="alt">Visual Studio</p>
            </a>
            <a href="https://www.microsoft.com/en-us/sql-server/sql-server-2019" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/sql.png" alt="SQL" title="microsoft.com/en-us/sql-server/sql-server-2019">
                <p class="alt">SQL</p>
            </a>
            <br />
            <a href="https://www.android.com/intl/en_ca/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/android.png" alt="Android" title="android.com/intl/en_ca">
                <p class="alt">Android</p>
            </a>
            <a href="https://www.javascript.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/javascript.png" alt="Javascript" title="javascript.com">
                <p class="alt">Javascript</p>
            </a>
            <a href="https://html.spec.whatwg.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/html5.png" alt="HTML5" title="html.spec.whatwg.org">
                <p class="alt">HTML5</p>
            </a>
            <a href="https://www.w3.org/Style/CSS/Overview.en.html" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/css3.png" alt="CSS3" title="www.w3.org/Style/CSS/Overview.en.html">
                <p class="alt">CSS3</p>
            </a>
            <a href="https://www.mixamo.com" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/mixamo.png" alt="Mixamo" title="mixamo.com">
                <p class="alt">Mixamo</p>
            </a>
            <br />
            <a href="https://zoom.us/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/zoom.png" alt="Zoom" title="zoom.us">
                <p class="alt">Zoom</p>
            </a>
        </div>

        <h2 class="intro__tagline" style="text-align: center;">
            Responsible for planning, organizing, and teaching game programming and web development remote classes with
            <span class="name">Unity3D</span> and <span class="name">C#</span>
            for class sizes of 6 students from grade 6 to 12.
            <br />
            Recognized for teaching and course coordination excellence.
        </h2>
    </div>
    <br />
</header>
<div style="clear:both; border-bottom: 1px solid black; width: 100%;"></div>
<header class="intro">
    <!-- HP -->
    <div class="intro__wrap">
        <br />
        <h1 class="intro__hello">Standards of Business Conduct - Certificate</h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h1 class="intro__hello">Hewlett Packard</h1>
            <a href="https://www.hpe.com/us/en/home.html" target="_blank"><span>hp.com</span></a>
            <br />
            <br />
            <img src="~/Images/hp.jpg" alt="Hewlett Packard Logo" title="Hewlett Packard" style="border-radius: 5%; max-width: 220px; max-height: 220px;">
            <br />
            <span>Araraquara, SP - Brazil</span>
            <br />
            <span>Concluded in July 2015</span>
        </div>

        <h2 class="intro__tagline" style="text-align: center;">
            Planned, organized, and taught
            <span class="name">programming, 3D animation, modeling, circuits, technical drawing, and game design </span>
            classes for class sizes of 12 students from grade 6 to 12.
            <br />
            Recognized for teaching excellence and instructional reports to student’s parents.
        </h2>
    </div>
    <br />
    <br />
</header>
<div style="clear:both; border-bottom: 1px solid black; width: 100%;"></div>
<header class="intro">
    <!-- IFSP -->
    <div class="intro__wrap">
        <br />
        <h1 class="intro__hello">Web Accessibility - Undergraduate Research</h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h1 class="intro__hello">IFSP</h1>
            <a href="https://www.ifsp.edu.br/" target="_blank"><span>ifsp.edu.br</span></a>
            <br />
            <br />
            <br />
            <img src="~/Images/ifsp2.png" alt="IFSP Logo" title="Federal Institute of São Paulo" style="border-radius: 5%; max-width: 250px; max-height: 250px;">
            <br />
            <br />
            <span>Avaré, SP - Brazil</span>
            <br />
            <span>Concluded in November 2012</span>
        </div>
        <h2 class="intro__tagline" style="text-align: center;">
            Responsible for planning, organizing, and teaching game programming and web development remote classes with
            <span class="name">Unity3D</span> and <span class="name">C#</span>
            for class sizes of 6 students from grade 6 to 12.
            <br />
            Recognized for teaching and course coordination excellence.
        </h2>
    </div>
    <br />
</header>
<div style="clear:both; border-bottom: 1px solid black; width: 100%;"></div>
<header class="intro">
    <!-- MOURA -->
    <div class="intro__wrap">
        <br />
        <h1 class="intro__hello">Biz Game Development - Voluntary Presenter</h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h1 class="intro__hello">JN Moura</h1>
            <a href="https://www.jnmoura.com.br/pt-br/" target="_blank"><span>jnmoura.com.br/pt-br</span></a>
            <br />
            <br />
            <img src="~/Images/moura.png" alt="JN Moura Logo" style="border-radius: 5%; max-width: 200px; max-height: 200px;">
            <br />
            <span>Araraquara, SP - Brazil</span>
            <br />
            <span>Concluded in November 2013</span>
        </div>
        <h2 class="intro__tagline" style="text-align: center;">
            Responsible for planning, organizing, and teaching game programming and web development remote classes with
            <span class="name">Unity3D</span> and <span class="name">C#</span>
            for class sizes of 6 students from grade 6 to 12.
            <br />
            Recognized for teaching and course coordination excellence.
        </h2>
    </div>
    <br />
</header>
<style>

    .intro__tagline {
        text-align: left !important;
        font-size: 24px !important;
    }

    .scrollable {
        width: 100%;
        height: 90vh;
        overflow: hidden;
        padding: 0px !important;
    }

        .scrollable:hover {
            width: 100%;
            height: 90vh;
            overflow-y: auto;
            padding-left: 16.8px !important;
        }

    .menu-education {
        background-color: white;
        width: 150px;
        text-align: center;
    }

    .body-back-color {
        background-color: white;
    }

    .intro__contact .highlight-link {
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        font-weight: 400;
        text-decoration: none;
        display: inline-block;
        padding: 2px 3px;
        text-decoration: none;
        -webkit-box-shadow: inset 0 -3px 0 #bae67e;
        box-shadow: inset 0 -3px 0 #bae67e
    }

        .intro__contact .highlight-link:hover {
            -webkit-box-shadow: inset 0 -33px 0 0 #719f32;
            box-shadow: inset 0 -33px 0 0 #719f32;
            color: #fff
        }
</style>
