@page
@model ExperienceModel
@{
    ViewData["Title"] = "Experience";
}

<head>
    <meta charset="utf-8">
    <title>Daniel Corbi Boldrin</title>
    <meta name="description" content="System Analyst Developer and Game Programmer">
    <meta name="author" content="Daniel Corbi Boldrin">
    <link rel="stylesheet" href="~/css/main.css" />
    <script defer="" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<br />
<br />
<header class="intro">
    <!-- ZEMIND -->
    <div class="intro__wrap">
        <h1 class="intro__hello">Unity Developer</h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h1 class="intro__hello">ZeMind</h1>
            <a href="https://zemind.ca/" target="_blank"><span>zemind.ca</span></a>
            <div style="clear:both"></div>
            <img src="~/Images/zemindlogo.png" alt="ZeMind Logo" title="ZeMind Logo" style="border-radius: 5%; max-width: 250px !important; max-height: 250px !important;">
            <div style="clear:both"></div>
            <span>Toronto, ON - Canada</span>
            <br />
            <span>Remote Work</span>
            <br />
            <span>November 2022 - Present</span>
            <br />
            <br />
            <span>Technologies Used</span>
            <br />
            <a href="https://unity.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/unity.png" alt="Unity3D" title="unity.com">
                <p class="alt">Unity3D</p>
            </a>
            <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/csharp.png" alt="C#" title="docs.microsoft.com/en-us/dotnet/csharp">
                <p class="alt">C#</p>
            </a>
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/visualstudio.png" alt="Visual Studio" title="visualstudio.microsoft.com">
                <p class="alt">Visual Studio</p>
            </a>
            <a href="https://bitbucket.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/bitbucket.png" alt="Bitbucket" title="bitbucket.org">
                <p class="alt">Bitbucket</p>
            </a>
            <br />
            <a href="https://www.android.com/intl/en_ca/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/android.png" alt="Android" title="android.com/intl/en_ca">
                <p class="alt">Android</p>
            </a>
            <a href="https://www.microsoft.com/en-ca/windows" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/windows.png" alt="Windows" title="microsoft.com">
                <p class="alt">Windows</p>
            </a>
            <a href="https://www.microsoft.com/en-ca/microsoft-365/excel" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/microsoftexcel.png" alt="Excel" title="microsoft.com/en-ca/microsoft-365/excel">
                <p class="alt">Excel</p>
            </a>
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/github.png" alt="Visual Studio" title="visualstudio.microsoft.com">
                <p class="alt">Github</p>
            </a>
        </div>

        <div class="intro__tagline" style="text-align: center !important; padding: 40px 40px 0px 5px; font-size: 19px !important;">
            <br />
            Responsible for the development of Unity3D games and apps for iOS, Android, and Consoles.
            <br />
            <br />
        </div>
    </div>
    <br />
</header>
<div style="clear:both; border-bottom: 1px solid black; width: 100%;"></div>
<header class="intro">
    <!-- LUXSONIC -->
    <div class="intro__wrap">
        <br />
        <h1 class="intro__hello">
            Unity VR Developer
        </h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h1 class="intro__hello">Luxsonic</h1>
            <a href="https://luxsonic.ca/" target="_blank"><span>luxsonic.ca</span></a>
            <div style="clear:both"></div>
            <img src="~/Images/luxsonic.png" alt="Luxsonic Logo" title="Luxsonic Logo" style="border-radius: 5%; max-width: 250px !important; max-height: 250px !important;">
            <div style="clear:both"></div>
            <span>Saskatoon, SK - Canada</span>
            <br />
            <span>Remote Work</span>
            <br />
            <span>August 2021 - Novemeber 2022</span>
            <br />
            <br />
            <span>Technologies Used</span>
            <br />
            <a href="https://unity.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/unity.png" alt="Unity3D" title="unity.com">
                <p class="alt">Unity3D</p>
            </a>
            <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/csharp.png" alt="C#" title="docs.microsoft.com/en-us/dotnet/csharp">
                <p class="alt">C#</p>
            </a>
            <a href="https://wavexr.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/wave.png" alt="WaveXR" title="wavexr.com">
                <p class="alt">WaveXR</p>
            </a>
            <a href="https://www.khronos.org/openxr/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/openxr.png" alt="OpenXR" title="khronos.org/openxr">
                <p class="alt">OpenXR</p>
            </a>
            <br />
            <a href="https://www.vive.com/ca/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/vive.png" alt="Vive" title="vive.com/ca">
                <p class="alt">Vive</p>
            </a>
            <a href="https://www.oculus.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/oculus.png" alt="Vive" title="oculus.com">
                <p class="alt">Oculus</p>
            </a>
            <a href="https://www.steamvr.com/en/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/steam.png" alt="SteamVR" title="steamvr.com/en/">
                <p class="alt">SteamVR</p>
            </a>
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/visualstudio.png" alt="Visual Studio" title="visualstudio.microsoft.com">
                <p class="alt">Visual Studio</p>
            </a>
            <a href="https://asana.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/asana.png" alt="Asana" title="asana.com">
                <p class="alt">Asana</p>
            </a>
            <br />
            <a href="https://www.android.com/intl/en_ca/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/android.png" alt="Android" title="android.com/intl/en_ca">
                <p class="alt">Android</p>
            </a>
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/github.png" alt="Visual Studio" title="visualstudio.microsoft.com">
                <p class="alt">Github</p>
            </a>
            <a href="https://www.microsoft.com/en-ca/windows" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/windows.png" alt="Windows" title="microsoft.com">
                <p class="alt">Windows</p>
            </a>
            <a href="https://www.microsoft.com/en-ca/microsoft-365/excel" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/microsoftexcel.png" alt="Excel" title="microsoft.com/en-ca/microsoft-365/excel">
                <p class="alt">Excel</p>
            </a>
        </div>

        <div class="intro__tagline" style="text-align: center !important; padding: 40px 40px 0px 5px; font-size: 19px !important;">
            Developed 3 different immersive VR software modules to train and assess medical personnel in diverse healthcare simulations, from microbiology lab and blood transfusion methodologies, to cardiac and respiratory emergency procedures.
            <br />
            Experience with OpenXR, WaveXR, Oculus, and Vive Focus 3
            <br />
            <br />
        </div>
    </div>
    <br />
</header>
<div style="clear:both; border-bottom: 1px solid black; width: 100%;"></div>
<br />
<header class="intro">
    <!-- HALTON -->
    <div class="intro__wrap">
        <h1 class="intro__hello">Unity Game Programming Teacher</h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h1 class="intro__hello">Halton STEM Club</h1>
            <a href="https://www.haltonstemclub.ca/" target="_blank"><span>haltonstemclub.ca</span></a>
            <br />
            <br />
            <br />
            <img src="~/Images/halton.png" alt="Halton STEM Club Logo" title="Halton STEM Club Logo" style="border-radius: 5%; max-width: 250px !important; max-height: 250px !important;">
            <br />
            <br />
            <span>Burlington, ON - Canada</span>
            <br />
            <span>Remote Work</span>
            <br />
            <span>June 2021 - Present</span>
            <br />
            <br />
            <span>Technologies Used</span>
            <br />
            <a href="https://unity.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/unity.png" alt="Unity3D" title="unity.com">
                <p class="alt">Unity3D</p>
            </a>
            <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/csharp.png" alt="C#" title="docs.microsoft.com/en-us/dotnet/csharp">
                <p class="alt">C#</p>
            </a>
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/visualstudio.png" alt="Visual Studio" title="visualstudio.microsoft.com">
                <p class="alt">Visual Studio</p>
            </a>
            <br />
            <a href="https://www.mixamo.com" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/mixamo.png" alt="Mixamo" title="mixamo.com">
                <p class="alt">Mixamo</p>
            </a>
            <a href="https://zoom.us/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/zoom.png" alt="Zoom" title="zoom.us">
                <p class="alt">Zoom</p>
            </a>
            <a href="https://www.microsoft.com/en-ca/windows" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/windows.png" alt="Windows" title="microsoft.com">
                <p class="alt">Windows</p>
            </a>
        </div>

        <div class="intro__tagline" style="text-align: center !important; padding: 10px 40px 0px 5px; font-size: 19px !important;">
            Responsible for planning, organizing, and teaching <span class="name">
                game programming
            </span> remote classes with <span class="name">Unity3D</span> and <span class="name">C#</span>.
            <br />
            Teaching Unity3D private and semi-private.
            <br />
            Recognized for teaching and course coordination excellence.
            <br />
            <br />
        </div>
    </div>
    <br />
</header>
<div style="clear:both; border-bottom: 1px solid black; width: 100%;"></div>
<header class="intro">
    <!-- WELLS ACADEMY -->
    <div class="intro__wrap">
        <br />
        <h1 class="intro__hello">Unity Game Programming Teacher</h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h1 class="intro__hello">Wells Academy</h1>
            <a href="https://www.wellsacademy.ca/" target="_blank"><span>wellsacademy.ca</span></a>
            <br />
            <br />
            <br />
            <img src="~/Images/wells.png" alt="Wells Academy Logo" title="Wells Academy Logo" style="border-radius: 5%; max-width: 200px !important; max-height: 250px !important; ">
            <br />
            <br />
            <span>Markham, ON - Canada</span>
            <br />
            <span>Remote Work</span>
            <br />
            <span>February 2021 - October 2021</span>
            <br />
            <br />
            <span>Technologies Used</span>
            <br />
            <a href="https://unity.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/unity.png" alt="Unity3D" title="unity.com">
                <p class="alt">Unity3D</p>
            </a>
            <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/csharp.png" alt="C#" title="docs.microsoft.com/en-us/dotnet/csharp">
                <p class="alt">C#</p>
            </a>
            <a href="https://www.python.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/python.png" alt="Python" title="python.org">
                <p class="alt">Python</p>
            </a>
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/visualstudio.png" alt="Visual Studio" title="visualstudio.microsoft.com">
                <p class="alt">Visual Studio</p>
            </a>
            <a href="https://www.microsoft.com/en-us/sql-server/sql-server-2019" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/sql.png" alt="SQL" title="microsoft.com/en-us/sql-server/sql-server-2019">
                <p class="alt">SQL</p>
            </a>
            <br />
            <a href="https://www.android.com/intl/en_ca/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/android.png" alt="Android" title="android.com/intl/en_ca">
                <p class="alt">Android</p>
            </a>
            <a href="https://www.javascript.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/javascript.png" alt="Javascript" title="javascript.com">
                <p class="alt">Javascript</p>
            </a>
            <a href="https://html.spec.whatwg.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/html5.png" alt="HTML5" title="html.spec.whatwg.org">
                <p class="alt">HTML5</p>
            </a>
            <a href="https://www.w3.org/Style/CSS/Overview.en.html" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/css3.png" alt="CSS3" title="w3.org/Style/CSS/Overview.en.html">
                <p class="alt">CSS3</p>
            </a>
            <br />
            <a href="https://www.mixamo.com" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/mixamo.png" alt="Mixamo" title="mixamo.com">
                <p class="alt">Mixamo</p>
            </a>
            <a href="https://azure.microsoft.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/microsoftazure.png" alt="Microsoft Azure" title="azure.microsoft.com">
                <p class="alt">Microsoft Azure</p>
            </a>
            <a href="https://zoom.us/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/zoom.png" alt="Zoom" title="zoom.us">
                <p class="alt">Zoom</p>
            </a>
            <a href="https://www.microsoft.com/en-ca/windows" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/windows.png" alt="Windows" title="microsoft.com">
                <p class="alt">Windows</p>
            </a>
            <a href="https://www.microsoft.com/en-ca/microsoft-365/excel" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/microsoftexcel.png" alt="Excel" title="microsoft.com/en-ca/microsoft-365/excel">
                <p class="alt">Excel</p>
            </a>
        </div>

        <div class="intro__tagline" style="text-align: center !important; padding: 40px 40px 0px 5px; font-size: 19px !important;">
            Responsible for planning, organizing, and teaching
            <span class="name">game programming</span> and <span class="name">web development</span>
            remote classes with
            <span class="name">Unity3D</span> and <span class="name">C#</span>.
            <br />
            Taught semi-private class sizes up to 6 students from grade 6 to 12.
            <br />
            Recognized for teaching and course coordination excellence.
            <br />
            <br />
        </div>
    </div>
    <br />
</header>
<div style="clear:both; border-bottom: 1px solid black; width: 100%;"></div>
<header class="intro">
    <!-- THINNOX -->
    <div class="intro__wrap">
        <br />
        <h1 class="intro__hello">Unity Game Programming Teacher</h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h1 class="intro__hello">Thinnox</h1>
            <a href="http://www.thinnox.com/" target="_blank"><span>thinnox.com</span></a>
            <br />
            <br />
            <img src="~/Images/thinnox.png" alt="Thinnox Logo" title="Thinnox Logo" style="border-radius: 5%; max-width: 220px; max-height: 250px;">
            <br />
            <span>Mississauga, ON - Canada</span>
            <br />
            <span>Partially Remote</span>
            <br />
            <span>June 2018 - December 2020</span>
            <br />
            <br />
            <span>Technologies Used</span>
            <br />
            <a href="https://unity.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/unity.png" alt="Unity3D" title="unity.com">
                <p class="alt">Unity3D</p>
            </a>
            <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/csharp.png" alt="C#" title="docs.microsoft.com/en-us/dotnet/csharp">
                <p class="alt">C#</p>
            </a>
            <a href="https://www.cplusplus.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/cplusplus.png" alt="C++" title="cplusplus.com">
                <p class="alt">C++</p>
            </a>
            <a href="https://www.python.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/python.png" alt="Python" title="python.org">
                <p class="alt">Python</p>
            </a>
            <a href="https://www.javascript.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/javascript.png" alt="Javascript" title="javascript.com">
                <p class="alt">Javascript</p>
            </a>
            <a href="https://jquery.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/jquery.png" alt="jQuery" title="jquery.com">
                <p class="alt">jQuery</p>
            </a>
            <br />
            <a href="https://www.tinkercad.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/tinkercad.png" alt="Tinkercad" title="tinkercad.com">
                <p class="alt">Tinkercad</p>
            </a>
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/visualstudio.png" alt="Visual Studio" title="visualstudio.microsoft.com">
                <p class="alt">Visual Studio</p>
            </a>
            <a href="https://www.blender.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/blender.png" alt="Blender" title="blender.org">
                <p class="alt">Blender</p>
            </a>
            <a href="https://scratch.mit.edu/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/scratch.png" alt="Scratch" title="scratch.mit.edu">
                <p class="alt">Scratch</p>
            </a>
            <a href="https://www.photoshop.com/en" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/photoshop.png" alt="Photoshop" title="photoshop.com/en">
                <p class="alt">Photoshop</p>
            </a>
            <a href="https://www.microsoft.com/en-ca/microsoft-365/excel" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/microsoftexcel.png" alt="Excel" title="microsoft.com/en-ca/microsoft-365/excel">
                <p class="alt">Excel</p>
            </a>
            <br />
            <a href="https://www.toonboom.com" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/toonboom.png" alt="Toon Boom" title="toonboom.com">
                <p class="alt">Toon Boom</p>
            </a>
            <a href="https://replit.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/replit.png" alt="Replit" title="replit.com">
                <p class="alt">Replit</p>
            </a>
            <a href="https://www.mixamo.com" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/mixamo.png" alt="Mixamo" title="mixamo.com">
                <p class="alt">Mixamo</p>
            </a>
            <a href="https://bigbluebutton.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/bigbluebutton.jpeg" alt="Big Blue Button" title="bigbluebutton.org">
                <p class="alt">Big Blue Button</p>
            </a>
            <a href="https://moodle.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/moodle.jpeg" alt="Moodle" title="moodle.org">
                <p class="alt">Moodle</p>
            </a>
            <a href="https://www.microsoft.com/en-ca/windows" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/windows.png" alt="Windows" title="microsoft.com">
                <p class="alt">Windows</p>
            </a>
        </div>

        <div class="intro__tagline" style="text-align: center !important; padding: 20px 40px 0px 5px; font-size: 19px !important;">
            Planned, organized, and taught
            <span class="name">programming, 3D animation, modeling, circuits, technical drawing, and game design </span>
            presential and remote classes.
            <br />
            Taught class sizes up to 12 students from grade 8 to 12.
            <br />
            Recognized for excellent teaching, corse coordination, and instructional reports to student’s parents.
            <br />
            <br />
        </div>
    </div>
    <br />
</header>
<div style="clear:both; border-bottom: 1px solid black; width: 100%;"></div>
<header class="intro">
    <!-- RP4k -->
    <div class="intro__wrap">
        <br />
        <h1 class="intro__hello">Game Programming Teacher</h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h1 class="intro__hello">RP4K</h1>
            <a href="https://realprogramming.com/" target="_blank"><span>realprogramming.com</span></a>
            <br />
            <br />
            <br />
            <img src="~/Images/rp4k.png" alt="RP4K Logo" title="RP4K Logo" style="border-radius: 5%; max-width: 180px; max-height: 250px;">
            <br />
            <br />
            <span>Toronto, ON - Canada</span>
            <br />
            <span>October 2018 - May 2019</span>
            <br />
            <br />
            <span>Technologies Used</span>
            <br />
            <a href="https://docs.microsoft.com/en-us/dotnet/visual-basic/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/visualbasic.png" alt="Visual Basic" title="docs.microsoft.com/en-us/dotnet/visual-basic">
                <p class="alt">Visual Basic</p>
            </a>
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/visualstudio.png" alt="Visual Studio" title="visualstudio.microsoft.com">
                <p class="alt">Visual Studio</p>
            </a>
            <a href="https://www.alice.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/alice.png" alt="Alice" title="alice.org">
                <p class="alt">Alice</p>
            </a>
            <br />
            <a href="https://scratch.mit.edu/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/scratch.png" alt="Scratch" title="scratch.mit.edu">
                <p class="alt">Scratch</p>
            </a>
            <a href="https://www.microsoft.com/en-ca/windows" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/windows.png" alt="Windows" title="microsoft.com">
                <p class="alt">Windows</p>
            </a>
        </div>
        <div class="intro__tagline" style="text-align: center !important; padding: 40px 40px 0px 5px; font-size: 19px !important;">
            Responsible for teaching game programming classes with
            <span class="name">Visual Basic</span>, <span class="name">Alice2</span>, and <span class="name">Scratch</span>.
            <br />
            Taught class sizes of 6 students from grade 4 to 10.
            <br />
        </div>
    </div>
    <br />
</header>
<div style="clear:both; border-bottom: 1px solid black; width: 100%;"></div>
<header class="intro">
    <!-- PROGRAMMERS -->
    <div class="intro__wrap">
        <br />
        <h1 class="intro__hello">System Analyst</h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h1 class="intro__hello">Programmers</h1>
            <a href="https://www.programmers.com.br/" target="_blank"><span>programmers.com.br</span></a>
            <br />
            <br />
            <img src="~/Images/programmers.png" alt="Programmers Logo" title="Programmers Logo" style="border-radius: 5%; max-width: 320px; max-height: 320px;">
            <br />
            <span>Matão, SP - Brazil</span>
            <br />
            <span>Partially Remote</span>
            <br />
            <span>April 2016 - April 2017</span>
            <br />
            <br />
            <span>Technologies Used</span>
            <br />
            <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/csharp.png" alt="C#" title="docs.microsoft.com/en-us/dotnet/csharp">
                <p class="alt">C#</p>
            </a>
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/visualstudio.png" alt="Visual Studio" title="visualstudio.microsoft.com">
                <p class="alt">Visual Studio</p>
            </a>
            <a href="https://www.javascript.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/javascript.png" alt="Javascript" title="javascript.com">
                <p class="alt">Javascript</p>
            </a>
            <a href="https://jquery.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/jquery.png" alt="jQuery" title="jquery.com">
                <p class="alt">jQuery</p>
            </a>
            <a href="https://html.spec.whatwg.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/html5.png" alt="HTML5" title="html.spec.whatwg.org">
                <p class="alt">HTML5</p>
            </a>
            <br />
            <a href="https://www.w3.org/Style/CSS/Overview.en.html" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/css3.png" alt="CSS3" title="w3.org/Style/CSS/Overview.en.html">
                <p class="alt">CSS3</p>
            </a>
            <a href="https://www.microsoft.com/en-us/sql-server/sql-server-2019" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/sql.png" alt="SQL" title="microsoft.com/en-us/sql-server/sql-server-2019">
                <p class="alt">SQL</p>
            </a>
            <a href="https://www.mysql.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/mysql.png" alt="MySQL" title="mysql.com">
                <p class="alt">MySQL</p>
            </a>
            <a href="https://www.iis.net/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/iis.png" alt="IIS" title="iis.net">
                <p class="alt">IIS</p>
            </a>
            <a href="https://www.apache.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/apache.png" alt="Apache" title="apache.org">
                <p class="alt">Apache</p>
            </a>
            <br />
            <a href="https://www.android.com/intl/en_ca/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/android.png" alt="Android" title="android.com/intl/en_ca">
                <p class="alt">Android</p>
            </a>
            <a href="https://www.skype.com/en/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/skypeforbusiness.png" alt="SkypeForBusiness" title="skype.com/en">
                <p class="alt">Skype for Business</p>
            </a>
            <a href="https://www.linux.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/linux.png" alt="Linux" title="linux.org">
                <p class="alt">Linux</p>
            </a>
            <a href="https://www.microsoft.com/en-ca/windows" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/windows.png" alt="Windows" title="microsoft.com">
                <p class="alt">Windows</p>
            </a>
            <a href="https://www.microsoft.com/en-ca/microsoft-365/excel" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/microsoftexcel.png" alt="Excel" title="microsoft.com/en-ca/microsoft-365/excel">
                <p class="alt">Excel</p>
            </a>
        </div>

        <div class="intro__tagline" style="text-align: center !important; padding: 10px 40px 0px 5px; font-size: 19px !important;">
            Led a development team responsible for back and front-end programming of an automated medical survey system used over EUA.
            <br />
            Responsible for database management and software architecture using MVC5.
            <br />
            Survey collected feedback via 30 online questions to be answered by patients after their visit to a clinic.
            <br />
        </div>
    </div>
    <br />
</header>
<div style="clear:both; border-bottom: 1px solid black; width: 100%;"></div>
<header class="intro">
    <!-- HP -->
    <div class="intro__wrap">
        <br />
        <h1 class="intro__hello">Analyst Developer</h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h1 class="intro__hello">Hewlett Packard</h1>
            <a href="https://www.hpe.com/us/en/home.html" target="_blank"><span>hp.com</span></a>
            <br />
            <br />
            <br />
            <img src="~/Images/hp.png" alt="Hewlett Packard Logo" title="Hewlett Packard Logo" style="border-radius: 5%; max-width: 200px; max-height: 250px;">
            <br />
            <br />
            <span>Araraquara, SP - Brazil</span>
            <br />
            <span>July 2015 - July 2016</span>
            <br />
            <br />
            <span>Technologies Used</span>
            <br />
            <a href="https://www.microsoft.com/en-us/sql-server/sql-server-2019" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/sql.png" alt="SQL" title="microsoft.com/en-us/sql-server/sql-server-2019">
                <p class="alt">SQL</p>
            </a>
            <a href="https://www.mysql.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/mysql.png" alt="MySQL" title="mysql.com">
                <p class="alt">MySQL</p>
            </a>
            <a href="https://www.iis.net/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/iis.png" alt="IIS" title="iis.net">
                <p class="alt">IIS</p>
            </a>
            <a href="https://www.apache.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/apache.png" alt="Apache" title="apache.org">
                <p class="alt">Apache</p>
            </a>
            <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/csharp.png" alt="C#" title="docs.microsoft.com/en-us/dotnet/csharp">
                <p class="alt">C#</p>
            </a>
            <br />
            <a href="https://html.spec.whatwg.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/html5.png" alt="HTML5" title="html.spec.whatwg.org">
                <p class="alt">HTML5</p>
            </a>
            <a href="https://www.w3.org/Style/CSS/Overview.en.html" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/css3.png" alt="CSS3" title="w3.org/Style/CSS/Overview.en.html">
                <p class="alt">CSS3</p>
            </a>
            <a href="https://www.javascript.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/javascript.png" alt="Javascript" title="javascript.com">
                <p class="alt">Javascript</p>
            </a>
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/visualstudio.png" alt="Visual Studio" title="visualstudio.microsoft.com">
                <p class="alt">Visual Studio</p>
            </a>
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/github.png" alt="Visual Studio" title="visualstudio.microsoft.com">
                <p class="alt">Github</p>
            </a>
            <br />
            <a href="https://www.skype.com/en/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/skypeforbusiness.png" alt="SkypeForBusiness" title="skype.com/en">
                <p class="alt">Skype for Business</p>
            </a>
            <a href="https://www.microsoft.com/en-ca/windows" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/windows.png" alt="Windows" title="microsoft.com">
                <p class="alt">Windows</p>
            </a>
            <a href="https://www.microsoft.com/en-ca/microsoft-365/excel" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/microsoftexcel.png" alt="Excel" title="microsoft.com/en-ca/microsoft-365/excel">
                <p class="alt">Excel</p>
            </a>
        </div>

        <div class="intro__tagline" style="text-align: center !important; padding: 40px 40px 0px 5px; font-size: 19px !important;">
            Worked in a contingency team responsible for managing, monitoring, testing, and sustaining all 5 main systems fully functional.
            Experience with database jobs, bank applications, web pages, automatic emailing, and interactive voice response.
        </div>
    </div>
    <br />
</header>
<div style="clear:both; border-bottom: 1px solid black; width: 100%;"></div>
<header class="intro">
    <!-- GRX -->
    <div class="intro__wrap">
        <br />
        <h1 class="intro__hello">Full Stack Developer</h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h1 class="intro__hello">GRX Soluções</h1>
            <a href="http://www.grtsolucoes.com.br/" target="_blank"><span>grxsolucoes.com.br</span></a>
            <br />
            <br />
            <br />
            <img src="~/Images/grx.png" alt="GRX Soluções Logo" title="GRX Soluções Logo" style="border-radius: 5%; max-width: 180px; max-height: 250px;">
            <br />
            <span>Araraquara, SP - Brazil</span>
            <br />
            <span>Partially Remote</span>
            <br />
            <span>March 2016 - January 2017</span>
            <br />
            <br />
            <span>Technologies Used</span>
            <br />
            <a href="https://www.php.net/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/php.png" alt="PHP" title="php.net">
                <p class="alt">PHP</p>
            </a>
            <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/csharp.png" alt="C#" title="docs.microsoft.com/en-us/dotnet/csharp">
                <p class="alt">C#</p>
            </a>
            <a href="https://html.spec.whatwg.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/html5.png" alt="HTML5" title="html.spec.whatwg.org">
                <p class="alt">HTML5</p>
            </a>
            <a href="https://www.w3.org/Style/CSS/Overview.en.html" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/css3.png" alt="CSS3" title="w3.org/Style/CSS/Overview.en.html">
                <p class="alt">CSS3</p>
            </a>
            <a href="https://www.javascript.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/javascript.png" alt="Javascript" title="javascript.com">
                <p class="alt">Javascript</p>
            </a>
            <a href="https://jquery.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/jquery.png" alt="jQuery" title="jquery.com">
                <p class="alt">jQuery</p>
            </a>
            <br />
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/visualstudio.png" alt="Visual Studio" title="visualstudio.microsoft.com">
                <p class="alt">Visual Studio</p>
            </a>
            <a href="https://www.highcharts.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/highcharts.png" alt="Highcharts" title="highcharts.com">
                <p class="alt">Highcharts</p>
            </a>
            <a href="https://www.microsoft.com/en-us/sql-server/sql-server-2019" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/sql.png" alt="SQL" title="microsoft.com/en-us/sql-server/sql-server-2019">
                <p class="alt">SQL</p>
            </a>
            <a href="https://www.mysql.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/mysql.png" alt="MySQL" title="mysql.com">
                <p class="alt">MySQL</p>
            </a>
            <a href="https://www.iis.net/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/iis.png" alt="IIS" title="iis.net">
                <p class="alt">IIS</p>
            </a>
            <br />
            <a href="https://www.apache.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/apache.png" alt="Apache" title="apache.org">
                <p class="alt">Apache</p>
            </a>
            <a href="https://www.android.com/intl/en_ca/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/android.png" alt="Android" title="android.com/intl/en_ca">
                <p class="alt">Android</p>
            </a>
            <a href="https://www.skype.com/en/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/skypeforbusiness.png" alt="SkypeForBusiness" title="skype.com/en">
                <p class="alt">Skype for Business</p>
            </a>
            <a href="https://www.linux.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/linux.png" alt="Linux" title="linux.org">
                <p class="alt">Linux</p>
            </a>
            <a href="https://www.microsoft.com/en-ca/windows" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/windows.png" alt="Windows" title="microsoft.com">
                <p class="alt">Windows</p>
            </a>
            <a href="https://www.microsoft.com/en-ca/microsoft-365/excel" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/microsoftexcel.png" alt="Excel" title="microsoft.com/en-ca/microsoft-365/excel">
                <p class="alt">Excel</p>
            </a>
        </div>

        <div class="intro__tagline" style="text-align: center !important; padding: 40px 40px 0px 5px; font-size: 19px !important;">
            Being the first point of contact for database improvements and management.
            <br />
            Implemented and fixed features in marketing and business software using WAMP.
            <br />
            Focused on performance improvement.
        </div>
    </div>
    <br />
</header>
<div style="clear:both; border-bottom: 1px solid black; width: 100%;"></div>
<header class="intro">
    <!-- CAST -->
    <div class="intro__wrap">
        <br />
        <h1 class="intro__hello">Analyst Developer</h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h1 class="intro__hello">Cast Group</h1>
            <a href="https://www.castgroup.com.br/pt/" target="_blank" style="position: relative; z-index: 100;"><span>castgroup.com.br</span></a>
            <br />
            <img src="~/Images/cast.png" alt="Cast Group Logo" title="Cast Group Logo" style="position: relative; z-index: 0; border-radius: 5%; max-width: 350px; max-height: 350px; margin-bottom: -50px; margin-top: -30px;">
            <br />
            <span style="position: relative; z-index: 100;">Araraquara, SP - Brazil</span>
            <br />
            <span style="position: relative; z-index: 100;">November 2014 - July 2015</span>
            <br />
            <br />
            <span>Technologies Used</span>
            <br />
            <a href="https://www.microsoft.com/en-us/sql-server/sql-server-2019" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/sql.png" alt="SQL" title="microsoft.com/en-us/sql-server/sql-server-2019">
                <p class="alt">SQL</p>
            </a>
            <a href="https://www.mysql.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/mysql.png" alt="MySQL" title="mysql.com">
                <p class="alt">MySQL</p>
            </a>
            <a href="https://www.iis.net/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/iis.png" alt="IIS" title="iis.net">
                <p class="alt">IIS</p>
            </a>
            <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/csharp.png" alt="C#" title="docs.microsoft.com/en-us/dotnet/csharp">
                <p class="alt">C#</p>
            </a>
            <br />
            <a href="https://jquery.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/jquery.png" alt="jQuery" title="jquery.com">
                <p class="alt">jQuery</p>
            </a>
            <a href="https://html.spec.whatwg.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/html5.png" alt="HTML5" title="html.spec.whatwg.org">
                <p class="alt">HTML5</p>
            </a>
            <a href="https://www.w3.org/Style/CSS/Overview.en.html" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/css3.png" alt="CSS3" title="w3.org/Style/CSS/Overview.en.html">
                <p class="alt">CSS3</p>
            </a>
            <a href="https://www.javascript.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/javascript.png" alt="Javascript" title="javascript.com">
                <p class="alt">Javascript</p>
            </a>
            <br />
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/visualstudio.png" alt="Visual Studio" title="visualstudio.microsoft.com">
                <p class="alt">Visual Studio</p>
            </a>
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/github.png" alt="Visual Studio" title="visualstudio.microsoft.com">
                <p class="alt">Github</p>
            </a>
            <a href="https://www.skype.com/en/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/skypeforbusiness.png" alt="SkypeForBusiness" title="skype.com/en">
                <p class="alt">Skype for Business</p>
            </a>
            <a href="https://www.microsoft.com/en-ca/windows" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/windows.png" alt="Windows" title="microsoft.com">
                <p class="alt">Windows</p>
            </a>
        </div>

        <div class="intro__tagline" style="text-align: center !important; padding: 10px 40px 0px 5px; font-size: 19px !important;">
            Worked in a development team responsible for back and front-end programming of a governmental tax exemption application for flood victims in Brazil.
            <br />
            Responsible for designing and implementing the tax exemption calculation API using C# MVC5, HTML5, CSS3, Javascript, and jQuery.
        </div>
    </div>
    <br />
</header>
<div style="clear:both; border-bottom: 1px solid black; width: 100%;"></div>
<header class="intro">
    <!-- LIDER -->
    <div class="intro__wrap">
        <br />
        <h1 class="intro__hello">Full Stack Developer</h1>
        <br />
        <br />
        <br />
        <div class="company">
            <h1 class="intro__hello">Líder Telecom</h1>
            <a href="https://www.lidertel.com.br/" target="_blank"><span>lidertel.com.br</span></a>
            <br />
            <br />
            <br />
            <img src="~/Images/lider.png" alt="Lider Telecom Logo" title="Lider Telecom Logo" style="border-radius: 5%; max-width: 320px; max-height: 320px;">
            <br />
            <br />
            <span>Araraquara, SP - Brazil</span>
            <br />
            <span>April 2013 - November 2014</span>
            <br />
            <br />
            <br />
            <span>Technologies Used</span>
            <br />
            <a href="https://www.php.net/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/php.png" alt="PHP" title="php.net">
                <p class="alt">PHP</p>
            </a>
            <a href="https://docs.microsoft.com/en-us/dotnet/csharp/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/csharp.png" alt="C#" title="docs.microsoft.com/en-us/dotnet/csharp">
                <p class="alt">C#</p>
            </a>
            <a href="https://html.spec.whatwg.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/html5.png" alt="HTML5" title="html.spec.whatwg.org">
                <p class="alt">HTML5</p>
            </a>
            <a href="https://www.w3.org/Style/CSS/Overview.en.html" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/css3.png" alt="CSS3" title="w3.org/Style/CSS/Overview.en.html">
                <p class="alt">CSS3</p>
            </a>
            <a href="https://www.javascript.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/javascript.png" alt="Javascript" title="javascript.com">
                <p class="alt">Javascript</p>
            </a>
            <a href="https://jquery.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/jquery.png" alt="jQuery" title="jquery.com">
                <p class="alt">jQuery</p>
            </a>
            <a href="https://visualstudio.microsoft.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/visualstudio.png" alt="Visual Studio" title="visualstudio.microsoft.com">
                <p class="alt">Visual Studio</p>
            </a>
            <br />
            <a href="https://www.highcharts.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/highcharts.png" alt="Highcharts" title="highcharts.com">
                <p class="alt">Highcharts</p>
            </a>
            <a href="https://www.microsoft.com/en-us/sql-server/sql-server-2019" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/sql.png" alt="SQL" title="microsoft.com/en-us/sql-server/sql-server-2019">
                <p class="alt">SQL</p>
            </a>
            <a href="https://www.mysql.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/mysql.png" alt="MySQL" title="mysql.com">
                <p class="alt">MySQL</p>
            </a>
            <a href="https://www.iis.net/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/iis.png" alt="IIS" title="iis.net">
                <p class="alt">IIS</p>
            </a>
            <a href="https://www.apache.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/apache.png" alt="Apache" title="apache.org">
                <p class="alt">Apache</p>
            </a>
            <a href="https://azure.microsoft.com/en-ca/services/devops/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/azuredevops.png" alt="Azure DevOps" title="azure.microsoft.com/en-ca/services/devops">
                <p class="alt">Azure DevOps</p>
            </a>
            <a href="https://www.pluralsight.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/kendo2.png" alt="Kendo UI" title="pluralsight.com">
                <p class="alt">Kendo UI</p>
            </a>
            <br />
            <a href="https://tortoisesvn.net/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/tortoise.png" alt="Tortoise" title="https://tortoisesvn.net/">
                <p class="alt">Tortoise</p>
            </a>
            <a href="https://www.zend.com/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/zend.png" alt="Zend" title="zend.com">
                <p class="alt">Zend</p>
            </a>
            <a href="https://www.android.com/intl/en_ca/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/android.png" alt="Android" title="android.com/intl/en_ca">
                <p class="alt">Android</p>
            </a>
            <a href="https://www.skype.com/en/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/skypeforbusiness.png" alt="SkypeForBusiness" title="skype.com/en">
                <p class="alt">Skype for Business</p>
            </a>
            <a href="https://www.linux.org/" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/linux.png" alt="Linux" title="linux.org">
                <p class="alt">Linux</p>
            </a>
            <a href="https://www.microsoft.com/en-ca/windows" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/windows.png" alt="Windows" title="microsoft.com">
                <p class="alt">Windows</p>
            </a>
            <a href="https://www.microsoft.com/en-ca/microsoft-365/excel" target="_blank" class="alt-wrap">
                <img src="~/Images/BW/microsoftexcel.png" alt="Excel" title="microsoft.com/en-ca/microsoft-365/excel">
                <p class="alt">Excel</p>
            </a>
            <br />
        </div>

        <div class="intro__tagline" style="text-align: center !important; padding: 0px 40px 0px 5px; font-size: 19px !important;">
            Led a small team in various internal projects for the company, improving the quality of the calls answered by the telecom operators and overall work quality of employees.
            <br />
            Released applications that were used by 3000+ employees.
            <br />
            Developed databases and servers with several automatic routines.
            <br />
            Experience with WAMP, LAMP, C# MVC, Aheeva, Active Directory, SQL, IIS.
        </div>
    </div>
    <br />
</header>

<style>

    .intro__tagline {
        text-align: left !important;
        font-size: 20px !important;
    }

    .scrollable {
        width: 100%;
        height: 90vh;
        overflow: hidden;
        padding: 0px !important;
    }

        .scrollable:hover {
            width: 100%;
            height: 90vh;
            overflow-y: auto;
            padding-left: 16.8px !important;
        }

    .menu-experience {
        background-color: white;
        width: 150px;
        text-align: center;
    }

    .body-back-color {
        background-color: white;
    }

    .intro__contact .highlight-link {
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        font-weight: 400;
        text-decoration: none;
        display: inline-block;
        padding: 2px 3px;
        text-decoration: none;
        -webkit-box-shadow: inset 0 -3px 0 #bae67e;
        box-shadow: inset 0 -3px 0 #bae67e
    }

        .intro__contact .highlight-link:hover {
            -webkit-box-shadow: inset 0 -33px 0 0 #719f32;
            box-shadow: inset 0 -33px 0 0 #719f32;
            color: #fff
        }
</style>
