@page
@model ResumeModel
@{
    ViewData["Title"] = "Resume";
}

<head>
    <meta charset="utf-8">
    <title>Daniel Corbi Boldrin</title>
    <meta name="description" content="System Analyst Developer and Game Programmer">
    <meta name="author" content="Daniel Corbi Boldrin">
    <link rel="stylesheet" href="~/css/main.css" />
    <script defer="" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>

<header class="intro">
    <div class="intro__wrap">
        <br />
        <br />
        <h1 class="intro__hello">Resume</h1>
        <br />
        <br />
        <br />
        <a href="~/Documents/CV.docx" target="_blank"><img src="~/Images/BW/word.png" alt="Word Document" style="border-radius: 25%; max-width: 200px; max-height: 200px; text-align: center;">
        </a>
        <a href="~/Documents/CV.pdf" target="_blank"><img src="~/Images/BW/pdf.png" alt="PDF Document" style="border-radius: 25%; max-width: 200px; max-height: 200px; text-align: center;">
        </a>
    </div>
    <br />
    <br />
</header>
<style>
    .menu-resume {
        background-color: #d3d3d3;
        width: 150px;
        text-align: center;
    }

    .body-back-color {
        background-color: #d3d3d3;
    }

    .intro__contact .highlight-link {
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        font-weight: 400;
        text-decoration: none;
        display: inline-block;
        padding: 2px 3px;
        text-decoration: none;
        -webkit-box-shadow: inset 0 -3px 0 #bae67e;
        box-shadow: inset 0 -3px 0 #bae67e
    }

    .intro__contact .highlight-link:hover {
        -webkit-box-shadow: inset 0 -33px 0 0 #719f32;
        box-shadow: inset 0 -33px 0 0 #719f32;
        color: #fff
    }

    .intro__contact .highlight-link:hover img {
        filter: invert(100%);
    }
</style>
